.button {
    display: inline-block;
    color: royalblue; 
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    padding: 5px;
}

.button:hover{
    color: red;
    border-color: cornflowerblue;
    cursor: pointer;
    background-color: rosybrown;
}